
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}
body{
    background: #fafafa;
}
a{
    text-decoration: none;
    color: #003569;
    font-weight: bold;
}
img{
    width: 100%;
    max-width: 100%;
    height: 100%;
}
.wrapper{
    display: flex;
    height: 100vh;
    width:100%;
    flex-direction: column;
    justify-content: space-between;
    
}

.container{
  width: 100%;
}
.wrapper >.container{
display: flex;
flex-direction: column;
padding: 0 .5rem;
position: relative;
}
.top-nav-menu{
    background:#fafafa;
    display: flex;
    justify-content: flex-end;
    padding: .2rem;
}
.top-nav-menu ul{
    display: flex;
    list-style-type: none;
    height: 40px;
}
.top-nav-menu ul li{
    padding: 0 .3rem;
    display: block;
    height: 100%;
}
.top-nav-menu ul li a{
    display: block;
    height: inherit;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    padding: 1rem 0;
    
}
.top-nav-menu ul li .circle-img{
    border-radius: 50%;
    background:#003569;
    height: 40px;
    width: 40px;
    color: #FFF;
    font-weight: bold;
    font-size: 1.3rem;
    padding-bottom: 2rem;
}



.container .main-content{
    display: flex;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
}

.main-content .user-profile{
    display: flex;
    flex-direction: column;
    padding-left:.3rem;
    padding-right:.3rem;
}
.user-profile .personal-info{
    display: flex;
    flex-direction: column;
    max-width: 10rem;   
}
.personal-info img{
        border: 1px solid #ddd;
        border-radius: 4px;
        margin: .5rem 0 0 0;
        padding: 5px;
        width: 120px;
        height: 120px;
    
}
.personal-info p{
  padding:.5rem 5rem 0 .3rem;
  color: #262626;
  font-weight: bold;
}
.user-profile .edit-image-btn{
    margin-top: 1rem;
    outline: none;
    padding: .3rem;
    cursor: pointer;
    border:1px solid #262626;
}
.pannel button {
    height: 2rem;
    width: 10rem;
    margin: 1rem 0;
    outline: none;
    border:2px solid #3897f0;
    background: transparent;
    text-align: center;
    cursor: pointer;
}


.main-content .tabs-container{
    padding: .8rem 0;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:#FFF;

}
.tabs-container ul{
    width: 100%;
    display: flex;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    justify-content: center;
    align-items: center;
    font-size: 14px;
} 
.main-content ul li{
    height: 2rem;
    display: flex;
    list-style: none;
    background: white;
    flex: 1;
    text-transform: capitalize;
}
.main-content ul li a{
    height: 2rem;
    display: block;
    width: 100%;
    text-align: center;
    padding: .5rem 0;
    cursor: pointer;
    
}
.main-content ul li.active a,
.main-content ul li a:hover{
    color: #fafafa;
    font-size: 1.2rem;
    transition: .5s;
    background: blueviolet;
}
.main-content .tabs-content {
    padding: 1rem;
    width: 90%;
}
.tabs-content .pannel{
    display: none;
   flex-wrap: wrap;
}
.tabs-content .pannel.active{
    display: block;
}
.pannel .bio-address fieldset{
    border: 1px solid #eee;
    padding: .5rem;
}
.bio-address fieldset legend {
display: flex;
padding: .5rem 0;

}

fieldset legend img{
    width: 1.5rem;
}
 .bio-address fieldset p{
        color: #262626;
        font-size: 12px;
      }
fieldset legend span{
        padding: .5rem 0 .2rem .2rem;
        color: #3897f0;
        font-size: 13px;
    }
fieldset .role{
    background:#ddd;
    text-align: center;
    border: 1px solid #eee;
    height: 20px;
    margin-top: .2rem;
    max-width: 5rem;
    border-radius: .2rem;
    font-weight: bold;
}
.image-info{
    display: flex;
    border: 1px solid #eee;
    max-width: 25rem;
}
.pannel .user-mentor{
    display: flex;
    flex-wrap: wrap;

}
.pannel .user-mentor img{
    width: 120px;
    height: 120px;
    padding: 1rem;
}
.user-mentor .info{
    display: flex;
    flex-direction: column;
    padding: 1rem;

}
.user-mentor .info p{
    padding: 1px;
}

.user-mentor .info a{
    background:#ddd;
    text-align: center;
    border: 1px solid #eee;
    height: 20px;
    margin-top: .2rem;
    max-width: 12rem;
    border-radius: .2rem;
    color: hsl(209, 86%, 58%);
    font-weight: bold;
    position: relative;
}
.user-mentor .info .status{
    display: flex;
    flex-wrap: wrap;
}
.info .status p{
    padding: 0 .3rem 0 0;
    color: rgb(220,20,60);
}
 
footer{
    padding: 5rem;
}
footer .container{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-top: 0;
    flex-wrap: wrap;
}
footer .footer-nav{
    width: 50%;
}
footer .footer-nav ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: flex-end;
}
.footer-nav ul li{
    margin-right: 1.5rem;

}

.footer-nav ul li a{
    color: #003569;
}
footer .container .copy-right{
   color: #999999;
   flex: 1;
}


@media (max-width:700px){

    .container .top-nav-menu{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position: relative;
    }
    .top-nav-menu ul li .circle-img{
        display: none;
    }
    .top-nav-menu ul li{
        border-right: 1px solid #eee;
    }

    .container .main-content{
        display: flex;
        border: 1px solid #eee;
        flex-direction: column;
        align-items: center;
    }
    .user-profile .personal-info{
        display: flex;
        flex-direction: row;
        max-width: 10rem; 
        justify-items: center;
        align-items: center;
        font-size: 2.5vw;  
    }
    .personal-info img{
        margin-right: 1rem;
    }
    .main-content ul li{
        height: 4rem;
        display: inline-block;
        margin: 0 .2rem;
        justify-content: center;
        list-style: none;
        padding: 1rem 1rem;
    }
    .container{
       margin: 0rem auto;
      }
}