.page-content h2{
    width: 15rem;
    text-align: center;
}

.page-content form{
    display: flex;
    padding: 2rem;
}
.page-content form input{
    padding: .5rem 3rem;
    outline: none;
}
.page-content form button{
    cursor: pointer;
    outline: none;
    padding: .5rem 3rem;
}
