body .modal-bg{
    position: fixed;
    background: rgba(0, 0, 0,0.5);
    width: 100%;
    height: 100vh;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s, opacity .5s;
}


.modal-bg .modal{
    position: relative;
    background: #fafafa;
    height: 70%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    flex-direction: column;
    overflow-y: scroll;
}
.modal form{
    display: flex;
 flex-direction: column;
 
}
.modal form input,textarea{
    margin-bottom: .4rem;
    padding: .2rem;
    border:1px solid rgb(240,128,128);
    outline: none;
    border-radius: .2rem;
    box-shadow: inset 2px 2px 2px #eee;
    -moz-box-shadow: inset 2px 2px 2px #eee;
    -webkit-box-shadow: inset 2px 2px 5px #eee;
    background: transparent;
    transition-duration: 1s;
}
.modal form .form-group{
        display: flex;
        justify-content: space-between;
    
}
.form-group label{
    margin-right: 3rem;
    font-size: 1rem;
    padding: 0 1rem;

}
.form-group select{
    background: transparent;
    outline: none;
    border: 1px solid rgb(220,20,60);
    margin-left: 1rem;
}
.form-group textarea{
    outline: none;
    border: 1px solid rgb(220,20,60);
    
}
.modal form button{
    height: 2rem;
    width: 6rem;
    margin: 2rem;
    outline: none;
    border:2px solid rgb(220,20,60);
    background: transparent;
    text-align: center;
    cursor: pointer;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}
.modal .modal-close{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.3rem;
}
.modal .review{
    padding: 2rem;
}
.modal .review .score{
    font-size: 1.2rem;
    color: rgb(220,20,60);
}
.modal .delete-btn{
    height: 2rem;
    width: 6rem;
    margin: 2rem;
    outline: none;
    border:2px solid rgb(220,20,60);
    background: transparent;
    text-align: center;
    cursor: pointer;
}

.modal .review-item{
    border: 2px solid #eee;
    margin: 2rem;
}